body{
    background-color: tan;
}

h2{
    text-align: center;
    border:darkred;
    border-style: groove;
}

h4{
   text-align: left;
   
}
#wo{
text-align: center;
border: 5px double brown;
}

#demo{
    text-align: center;
}

#wa{
    background-color: darkgoldenrod;
    border: 1px solid darkred;
}